.header {
  text-align: center;
  margin-bottom: 50px;
  .page-title {
    font-family: $titleFontFamily;
    font-size: 3rem;
  }
  .page-subtitle {
    font-size: 2rem;
    font-family: $subtitleFontFamily;
    font-weight: 200;
  }
}
