.result {
  font-family: $subtitleFontFamily;
  min-height: 100vh;
  font-size: 1.5rem;
  flex-basis: 70%;
  background-color: #f0f0f0;
  &-list {
    display: flex;
    flex-flow: row wrap;
    &-item {
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $result;
      color: $favorite;
      padding: 30px 20px;
      margin: 30px 10px;
      border: 5px solid #f0eeee;
    }
    .js-favorite {
      background-color: $favorite;
      color: $result;
    }
  }
}
