$result: rgb(224, 224, 224);
$favorite: orangered;
$pageBGColor: #f0f0f0;
$titleFontFamily: "Courier New", Courier, monospace;
$subtitleFontFamily: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
